.container {
  margin-bottom: var(--space-lg);
  padding: var(--space-md);
  background: var(--color-surface);
  border: 1px solid var(--color-surface);
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-md);
}

.stats > *:first-child {
  grid-column: 1 / -1;
}

@media (width >= 600px) {
  .container {
    padding: var(--space-lg);
  }

  .stats {
    display: flex;
    gap: var(--space-xl);
    justify-content: center;
  }

  .stats > *:first-child {
    grid-column: unset;
  }
}
